<main class="container d-flex w-75">

  {{#each products}}
    <article class="card d-flex flex-column w-25 m-4">
      <img src="{{ image }}" alt="Foto da {{ name }}" class="card-img-top">
      <h1 class="card-title text-nowrap m-0 p-2">{{ name }}</h1>
      <p class="card-text text-success align-self-end p-2">R$ {{ price }}</p>
    </article>
  {{/each}}
  
</main>

{{#each products}}
  <h1>{{name}}</h1>
  <p>price: {{price}}</p>
  <img src="{{image}}" alt="Foto da {{name}}">
{{/each}}